body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header, footer {
    background-color: #f1f1f1;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;  
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

nav a i {
    margin-right: 8px;  
    color: #0056b3;  
}

nav a:hover {
    color: #ff4500;
    transition: color 0.3s ease-in-out;
}

nav a:hover i {
    color: #ff4500;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.centered-image {
    display: block;
    margin: auto;
    width: 100%;         
    max-width: 600px;    
    height: auto;        
}
